<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	
</head>
<body>

		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img width="50" height="50"
					src="https://img.icons8.com/external-febrian-hidayat-flat-febrian-hidayat/50/external-chef-restaurant-febrian-hidayat-flat-febrian-hidayat.png"
					alt="external-chef-restaurant-febrian-hidayat-flat-febrian-hidayat" />
				RecetasPerú
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/recetas">Recetario</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin">AdminRecetas</a>
					</li>
				</ul>
			</div>
		</div>

	<div layout:fragment="form">
		<br>
		<form action="" method="post" th:object="${receta}" enctype="multipart/form-data">
		<div class="bg-secondary rounded p-4">

			<div class="mb-3">
				<label for="titulo" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Título:</label> <br>
				<input type="text" id="titulo" class="form-control" th:field="*{titulo}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">
				</div>
			<div class="mb-3">
				<label for="descripcion" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Descripción:</label><br>
				<textarea id="descripcion" class="form-control" th:field="*{descripcion}"></textarea>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">

				</div>
			</div>
			<div class="mb-3">
				<label for="fechasubido" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Fecha de publicación:</label><br>
				<input type="date" id="fechasubido" class="form-control" th:field="*{fechasubido}"></input>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('fechasubido')}" th:errors="*{fechasubido}">
				</div>
			</div>
			<div class="mb-3">
				<label for="recetaTutorialId" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Video Tutorial de referencia:</label><br>
				<input type="text" id="recetaTutorialId" class="form-control" th:field="*{recetaTutorialId}"></input>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('recetaTutorialId')}"
					th:errors="*{recetaTutorialId}">
				</div>
			</div>
			<div class="mb-3">
				<label for="portada" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Portada:</label><br>
				<input type="file" name="portada" id="portada" class="form-control" th:field="*{portada}"></input>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('portada')}" th:errors="*{portada}">
				</div>
			</div>
			<div class="mb-3">
				<label for="categorias" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Categoría:</label><br>
				<select id="categorias" class="form-control" th:field="*{categorias}">
					<option th:each="categoria : ${categorias}" th:value="${categoria.id}"
						th:text="${categoria.titulo}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('categorias')}" th:errors="*{categorias}">
				</div>
			</div>

			<div class="mb-3">
				<label for="dificultades" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Dificultad:</label><br>
				<select id="dificultades" class="form-control" th:field="*{dificultad}">
					<option th:each="dificultad : ${dificultades}" th:value="${dificultad.id}"
						th:text="${dificultad.nombre}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('dificultad')}" th:errors="*{dificultad}">
				</div>
			</div>
			<div class="mb-3">
				<label for="temporadas" class="form-label" style="color: white;font-weight: bold; font-size: 1.4em;">Temporada:</label><br>
				<select id="temporadas" class="form-control" th:field="*{temporada}">
					<option th:each="temporada : ${temporadas}" th:value="${temporada.id}"
						th:text="${temporada.nombre}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('temporada')}" th:errors="*{temporada}">
				</div>
			</div>
			</div>
			</div>




			<div class="text-end">
				<button type="submit" class="btn btn-primary" style="margin-top: 10px;">
					   <i class="fas fa-save"></i> 
					   GUARDAR</button>
			</div>

		</form>


	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>